.App {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  height: auto;
  margin: auto;
  background-image: url("../pokewallpaper.gif");
  background-color: #cccccc;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}